@media (max-width: 1156px){
  .services__items{
    display: block;
  }
  .services__item{
    max-width: 80%;
    min-height: 330px;
    margin: 30px auto;
  }
  .form__inner{
    background-image: none;
  }
  .footer__info{
    margin-bottom: 25px;
    max-width: 465px;
  }
}
@media (max-width: 1050px){
  .footer__inner{
    display: block;
  }
  .footer__map{
    max-width: 100%;
  }
}
@media (max-width: 900px){
  .slider .slick-btn{
    display: none !important;
  }
  #services {
    padding: 50px 0 0;
  }
  .services__top{
    display: block;
    text-align: center;
  }
  .services__item{
    margin-bottom: 50px;
    min-height: 400px;
  }
  .services__item-text{
    padding: 0 20px 30px;
  }
  .services__title-box,
  .form__title-box,
  .form__box
  {
    padding-left: 0;
    margin: 0 auto 30px;
    text-align: center;
  }
  .footer__info{
    padding-left: 0;
    margin: 0 auto;
    text-align: left;
  }
  .services__title-box:before,
  .form__title-box:before{
    display: none;
  }
  .form__box-inner{
    display: block;
  }
  .form__box-left{
    max-width: 100%;
  }
  .form__box-right{
    max-width: 100%;
  }
  .form__box-inner .jq-selectbox__select{
    margin-bottom: 10px;
  }
  #form{
    padding-bottom: 25px;
  }
  .advantages__inner{
    display: block;
  }
  .advantages-item{
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 700px){
  .header__btn{
    float: none;
  }
  .header__contacts{
    text-align: center;
  }
  .header__btn:before{
    display: none;
  }
  .footer__info .header__btn:before{
    display: block;
  }
  .header__btn-menu{
    display: block;
    color: #ffffff;
    font-size: 28px;
  }
  .menu ul{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 20px;
    z-index: 50;
  }
  .menu li{
    display: block;
    text-align: center;
  }
  .menu a{
    display: block;
    background-color: #EC5B5B;
    border-top: 1px solid #BFE6EC;
  }
  .menu li + li{
    padding-left: 0;
  }
}
@media (max-width: 600px){
  .services__item{
    max-width: 100%;
    min-height: 375px;
    margin: 30px auto;
  }
}
@media (max-width: 414px){
  .slider__title{
    font-size: 24px;
  }
  .slider__text{
    font-size: 16px;
  }
}
@media (max-width: 400px){
  .header__btn:before{
    display: block;
  }
  .advantages-item{
    padding: 0;
  }
}
@media (max-width: 375px){
  .header__email{
    padding-right: 30px;
  }
}
@media (min-width: 700px){
  .menu ul{
    display: block !important;
  }
}