*{
  box-sizing: border-box; /*падинги и бордер не будут увеличиваться,
   а будут высчитывать внутри (очень важный момент)*/
  scroll-behavior: smooth; /*плавный скролл при переходе из меню*/
}
a{
  text-decoration: none; /*убираем подчеркивание*/
  display: inline-block; /*чтобы ссылки были строчно-блочные*/
  color: #FFFFFF;
}
ul,
li{
  list-style: none; /*отключаем маркеры*/
  margin: 0;
  padding: 0;
}
body {
  font-weight: 400;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: papayawhip;
  background-color: #2C2C2C;
}

.container{  /*блок хранящий всю инфу*/
  max-width: 1100px; /*макс ширина, чтобы не было нижнего скролла*/
  margin: 0 auto; /*центрирование*/
  padding: 0 16px;/*чтобы контейнер не прилипал к стенкам плашетов, телефонов и тд*/
}
.header {
}
.header__top {
  background-color: #2C2C2C;
}
.header__top a {
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}
.header__btn{
  float: right;
  margin-top: 6px;
  line-height: 24px;
  background-color: #3b3b3b;
  padding: 5px 20px 5px 20px;
  display: block;
  position: relative;
}
.header__contacts:after {
  content:"";
  clear: both;
  display: block;
}
.header__phone,
.header__email {
  color: #ffffff;
  letter-spacing: 0.25px;
  line-height: 36px;
  position: relative;
}
.header__phone {
  padding-left: 20px;
  padding-right: 30px;
}
.header__phone:before{
  content: "\f095";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffffff;
}
.header__email{
  padding-left: 24px;
}
.header__email:before{
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffffff;
}
.header__title a{
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
}
.header__content{
  padding: 15px 0 15px;
  background-color: #EC5B5B;
}
.header__content-inner {
  display: flex;
  justify-content: space-between;
}
.menu li{
  display: inline-block;
}
.menu a{
  color: white;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  padding: 0 8px;
  transition: all .3s; /*замедление анимации*/
}
.menu a:hover{
  border-color: white;
  /*
  box-shadow: 0 7px 24.3px 2.7px rgba(3, 34, 42, 1);
  */
}
.menu li + li{
  padding-left: 8px;
}
#modal{
  display: none;
}
.slider {
  background-image: url("../img/slider-fon.jpg");
  background-repeat: no-repeat; /*чтобы картинка не размножалась*/
  background-size: cover; /*чтобы растягивалась*/
  background-position: center;
  min-height: 500px;
}
.slider__item{
  outline: none;
}
.slider__item-content{
  text-align: center;
  padding-top: 110px;
  max-width: 600px;
  margin: 0 auto; /*margin: 0 auto 0 auto; margin: верх право низ лево;
  Этот прием не работает, если элемент не блочный или у него не указана ширина.
  */
  color: white;
}
.slider__title{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}
.slider__text{
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 45px;
  color: papayawhip;
}
.default-btn{
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: papayawhip;
  padding: 8px 30px 8px 24px;
  border: 1px solid #EC5B5B;
  border-right-width: 20px;
  position: relative;
  font-weight:500;
  outline: none;
}
.default-btn:after{
  content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -13px;
  color: #000000;
}
.slider-inner{
  position: relative;
}
.slick-btn{
  top: 60%;
  z-index: 3;
  width: 40px;
  height: 40px;
  border: 1px solid #EC5B5B;
  position: absolute;
  cursor: pointer;
  outline: none;
  background-color: #EC5B5B;
}
.slick-btn.slick-disabled{
  cursor: default;
  background-color: transparent;
}
.slick-btn:before{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'icomoon';
  color: #000000;
}
.slick-next{
  right:0;
}
.slick-next:before {
  content: "\f105";
}
.slick-prev:before{
  content: "\f104";
}
.slick-prev{
  left:0;
}
#services{
  padding: 50px 0 30px;
}
.services__top{
  display: flex;
  justify-content: space-between;
}
.services__title-box,
.form__title-box{
  max-width: 520px;
  padding-left: 140px;
  position: relative;
  margin-bottom: 60px;
}
.services__title-box:before, /*черточка*/
.form__title-box:before{
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #EC5B5B;
  left: 0;
  top: 11px;
 }
.services__title,
.form__title{
  left: 140px;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
}
.services__text,
.form__text{
  letter-spacing: 0.1px;
}
.services__btn a{
  color: papayawhip;
  line-height: 24px;
  letter-spacing: 0.25px;
  padding: 5px 38px;
  border: 3px solid #EC5B5B;
}
.services__items{
  display: flex;
  justify-content: space-between;
}
.services__item{
  max-width: 500px;
  text-align: center;
  padding: 30px 0 80px;
  position: relative;
  min-height: 375px;
  background-color: #223;
  /*box-shadow: 0 0 10px; default*/
  box-shadow: 0 7px 24.3px 2.7px #EC5B5B;
}
.services__item-title{
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding: 10px 0 24px;
}
.services__item-text{
  letter-spacing: 0.1px;
  padding: 0 30px 30px;
}
.services__item-btn{
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}
/*.services__item-btn .default-btn{
  color: #5E412F;
}*/
/*.services__item-btn .default-btn:after,
.form__box-right .default-btn:after,
{
  color: #000000;
}*/
#about{
  background-image: url(../img/about-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  background-repeat: no-repeat;
  padding: 25px 0 45px;
}
.about__inner{
  max-width: 500px;
  padding-left: 30px;
}
.about__title{
  padding: 10px 0 25px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}
.about__text{
  margin-bottom: 30px;
  letter-spacing: 0.1px;
  line-height: 24px;
}
#form{
  padding-top: 30px ;
}
.form__inner{
  padding-bottom: 40px;
  background-image: url(../img/form.png);
  min-height: 560px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.form__box{
  max-width: 700px;
}
.form .inputBx{
  margin-bottom: 40px;
}
.form .inputBx input{
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 300;
  color: papayawhip;
  border-bottom: 2px solid #EC5B5B;
}
.form .inputBx input::placeholder{
  color: papayawhip;
}
.form .inputBx textarea{
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 300;
  color: papayawhip;
  min-height: 150px;
  border-bottom: 2px solid #EC5B5B;
}
.form .inputBx textarea::placeholder{
  color: papayawhip;
}
.form .inputBx input[type="submit"]{
  display: inline-block;
  width: 150px;
  font-size: 16px;
  line-height: 24px;
  color: papayawhip;
  padding: 8px 30px 8px 24px;
  border: 1px solid #EC5B5B;
  border-right-width: 20px;
  position: relative;
  font-weight:500;
  outline: none;
  cursor: pointer;
}
.form .inputBx input[type="submit"]:after{
  content: "\f105";
  position: relative;
  font-family: 'icomoon';
  color: #000000;
}

.advantages{
  padding: 55px 0 40px;
  background-image: url(../img/avg-fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  background-size: cover;
}
.advantages__inner{
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.advantages-item{
  max-width: 360px;
  padding: 0 20px;
  line-height: 24px;
}
.advantages__title{
  padding: 60px 0 15px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.advantages__title:before{
  content: ""; /*обязательно иначе ничего не отобразится*/
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #F4E4D1;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /*смещаем четко в центр (независимо)*/
}
.advantages__title:after{
  font-size: 14px;
  color: #F4E4D1;
  content: "\f00c";
  font-family: 'icomoon';
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.advantages__text{
  letter-spacing: 0.1px;
}
.footer__content{
  background-color: #2C2C2C;
  padding: 30px 0 30px;
}
.footer__inner{
  display: flex;
  justify-content: space-between;
}
.footer__map{
  padding-top: 10px;
  max-width: 450px;
  width: 100%;
}
.footer__map iframe{
  width: 100%;
}
.footer__info{
  max-width: 500px;
  color: #fff;
}
.footer__title{
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #EC5B5B;
  letter-spacing: 0.5px;
}
.footer__text{
  margin-bottom: 30px;
  color: papayawhip;
}
.footer__list li{
  margin-top: 10px;
}
.footer__list a{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #BFE6EC;
  font-weight: 400;
  padding-left: 33px;
  position: relative;
}
.footer__list a:before{
  font-family: 'icomoon';
  content: '\f003';
  position: absolute;
  left: 0;
  color: #fff;
}
.footer__list .footer__phone:before{
  content: '\f095';
  left: 3px;
}
.footer__list .footer__adress:before{
  content: '\f041';
  left: 3px;
}
.footer__copy{
  background-color: #000000;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 0;
  font-weight: 400;
  color: white;
}
#modal{
  width: 300px;
}
#modal input{
  display: block;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  height: 40px;
  border: 1px solid #BFE6EC;
  padding: 0 10px;
}
#modal input[type="submit"]{
  background-color: #EC5B5B;
  border: none;
}
.header__btn-menu{
  display: none;
}
/*
.services__item img{
  width: 80px;
  height: 80px;
}*/
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, #EC5B5B);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent, papayawhip);
}
